.busqueda{
    display: flex; 
    justify-content: center; 
    background-color: #1e213a ;
    height: 98PX;
    width: 460px;
}

.botonS {
    display: flex; 
    justify-content: center; 
}

.ubicacionS {
    display: flex; 
    justify-content: center; 
}
