#root {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.appClima{
    display: flex;
    flex-direction: row;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


